<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.digitalpalette.pizap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.digitalpalette.pizap</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pizap</string>
				<string>fb158391354186658</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>158391354186658</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
        <string>Aberration.ttf</string>			
        <string>Kingthings_Wrote.ttf</string>
        <string>AlexToth.ttf</string>			
        <string>LEMONCHI.ttf</string>
        <string>AllUsedUp.ttf</string>			
        <string>LoveandPassion.ttf</string>
        <string>Amadeus.ttf</string>			
        <string>Mael.ttf</string>
        <string>AmbulanceShotgun.ttf</string>		
        <string>MetalMacabre.ttf</string>
        <string>AnthologY.ttf</string>			
        <string>Monbijoux.ttf</string>
        <string>Architext.ttf</string>			
        <string>MountainsofChristmas.ttf</string>
        <string>ArsenaleBlue.ttf</string>		
        <string>NapoliInitialen.ttf</string>
        <string>Astroneo.ttf</string>			
        <string>NekroKids.ttf</string>
        <string>BEARPAW.ttf</string>			
        <string>Nervous.ttf</string>
        <string>BLOKTYPE.ttf</string>			
        <string>Note_this.ttf</string>
        <string>Beroga.ttf</string>			
        <string>Odstemplik.ttf</string>
        <string>BillyArgelFont.ttf</string>		
        <string>Pacifico.ttf</string>
        <string>BirthOfAHero.ttf</string>		
        <string>PasticheNF.ttf</string>
        <string>BlackChancery.ttf</string>		
        <string>Penelope.ttf</string>
        <string>BleedingCowboys.ttf</string>		
        <string>PhatGrunge.ttf</string>
        <string>BloomingGrove.ttf</string>		
        <string>Promocyja.ttf</string>
        <string>BombFont.ttf</string>			
        <string>PsychedeliaHM.ttf</string>
        <string>BradleyGratis.ttf</string>		
        <string>RoughLinen.ttf</string>
        <string>BrownBearFunk.ttf</string>		
        <string>SEASRN_.ttf</string>
        <string>Calibri.ttf</string>			
        <string>SF_Collegiate.ttf</string>
        <string>CastlesQueen.ttf</string>		
        <string>SF_Shai_Fontai.ttf</string>
        <string>Chantelli_Antiqua.ttf</string>		
        <string>SlugfestNF.ttf</string>
        <string>ChroniclesOfArkMar.ttf</string>		
        <string>Sniglet.ttf</string>
        <string>CuttyCupcakes.ttf</string>		
        <string>Softfade.ttf</string>
        <string>DarkGarden.ttf</string>			
        <string>Steak.ttf</string>
        <string>DesignerNotes.ttf</string>		
        <string>Supafly36.ttf</string>
        <string>DinosaurSkin.ttf</string>		
        <string>TROGN_.ttf</string>
        <string>DomesticManners.ttf</string>		
        <string>TheMapleOrigins.ttf</string>
        <string>Dufay.ttf</string>			
        <string>ThePoison.ttf</string>
        <string>Dustismo.ttf</string>			
        <string>Throwback.ttf</string>
        <string>EndlessVoyage.ttf</string>		
        <string>UndergroundNF.ttf</string>
        <string>FD_Ilhoscript.ttf</string>		
        <string>WC_Wunderbach_Rough.ttf</string>
        <string>FastMoney.ttf</string>			
        <string>Zierinitialen.ttf</string>
        <string>Gangland.ttf</string>			
        <string>calibri-1361502412.ttf</string>
        <string>GearsOfPeace.ttf</string>		
        <string>cwisdom.ttf</string>
        <string>Gondola_SD.ttf</string>			
        <string>heavy_data.ttf</string>
        <string>GotikaApvalus.ttf</string>		
        <string>iNkedGod.ttf</string>
        <string>Impact.ttf</string>			
        <string>leGrandSaut.ttf</string>
        <string>KOMIKAX.ttf</string>			
        <string>octinspraypaintarg.ttf</string>
        <string>KRDecoCapsOne.ttf</string>		
        <string>proclamate_incised.ttf</string>
        <string>KRFloralScript.ttf</string>		
        <string>strasua.ttf</string>
        <string>KRFlowerPower.ttf</string>		
        <string>teutonic3.ttf</string>
        <string>Kawoszeh.ttf</string>			
        <string>vtksdejavu.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
